
<div class="row">
<div class="col-sm-12">
<div class="row">
<div class="col-sm-2">
</div>
<div class="col-sm-10">
<div class="col-sm-12">
<div class="row">
  <div class="col-md-4 col-sm-6">
  <div class="over over-container">
    <h4 class="ov_1">occupancy</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="over over-container">
    <h4 class="ov_1"> Revenue Occupancy</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="over over-container">
    <h4 class="ov_1">Billing</h4>
    </div>
  </div>
</div>
</div>
<div class="col-sm-12">
<div class="row">
  <div class="col-md-4 col-sm-6">
  <div class="over over-container">
    <h4 class="ov_1">Revenue</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="over over-container">
    <h4 class="ov_1"> Invoices</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="over over-container">
    <h4 class="ov_1"> Memberships</h4>
    </div>
  </div>
</div>
</div>
<div class="col-sm-12">
<div class="row">
  <div class="col-md-4 col-sm-6">
  <div class="over over-container">
    <h4 class="ov_1"> Contracts</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="over over-container">
    <h4 class="ov_1"> Today's Bookings</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="over over-container">
    <h4 class="ov_1"> Opportunities</h4>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>

