<div class="container">
h1 Occupancy#index
p Find me in app/views/overview/index.html.slim
<a data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</a>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
h1 Occupancy
</div>
</div>
</div>

</div>

