<!DOCTYPE html>
<html lang="da">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', 'log_in', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous">

  <title>mosson</title>
</head>
<body class="log-in">
  <header>
    <h1>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="211px" height="39px" viewBox="0 0 211 39" style="enable-background:new 0 0 211 39;" xml:space="preserve">
        <g id="XMLID_7_">
          <path id="XMLID_8_" d="M38.5,18.7c0-1.9-0.3-2.7-0.9-3.4c-0.7-0.8-1.6-1-2.6-1c-1.8,0-3.6,0.9-4.9,2.1c0.1,0.3,0.1,0.8,0.1,1.1
        v15.5h-7.6V18.7c0-1.7-0.2-2.7-0.9-3.4c-0.7-0.8-1.6-1-2.6-1c-1.8,0-3.6,1-4.8,2v16.6H6.7V8.3h7.5v2.2l0.1,0
        c1.9-1.6,4.4-2.8,7.4-2.8c2.7,0,5.7,1,7.2,3.5c2.6-2.4,5.6-3.5,8.7-3.5c2.8,0,4.9,0.9,6.4,2.5c1.6,1.6,2.3,3.8,2.3,7.2v15.5h-7.6
        V18.7z"></path>
          <path id="XMLID_10_" d="M64.4,7.8c7.9,0,13.7,5.6,13.7,12.9s-5.9,12.9-13.7,12.9c-7.9,0-13.7-5.6-13.7-12.9S56.6,7.8,64.4,7.8z
         M64.4,26.9c3.5,0,6.1-2.8,6.1-6.3s-2.7-6.3-6.1-6.3s-6.1,2.8-6.1,6.3S61,26.9,64.4,26.9z"></path>
          <path id="XMLID_13_" d="M82.3,24.8c3.4,2,7.3,2.8,9.6,2.8c2.1,0,3.4-0.6,3.4-1.9c0-1.9-2.8-1.7-6.5-2.7c-4.7-1.1-7.4-3.1-7.4-7.2
        c0.1-5.2,4.7-8.2,10.8-8.2c3,0,6.6,0.6,9.4,2v6.6c-3.2-1.9-7.1-2.7-9.3-2.7c-2,0-3.2,0.6-3.2,1.8c0,1.8,2.6,1.7,6.3,2.6
        c4.7,1.1,7.6,3,7.6,7.2c-0.1,5.4-4.8,8.4-11.1,8.4c-3,0-6.7-0.6-9.6-2V24.8z"></path>
          <path id="XMLID_15_" d="M107,24.8c3.4,2,7.3,2.8,9.6,2.8c2.1,0,3.4-0.6,3.4-1.9c0-1.9-2.8-1.7-6.5-2.7c-4.7-1.1-7.4-3.1-7.4-7.2
        c0.1-5.2,4.7-8.2,10.8-8.2c3,0,6.6,0.6,9.4,2v6.6c-3.2-1.9-7.1-2.7-9.3-2.7c-2,0-3.2,0.6-3.2,1.8c0,1.8,2.7,1.7,6.3,2.6
        c4.7,1.1,7.6,3,7.6,7.2c0,5.4-4.8,8.4-11.1,8.4c-3,0-6.7-0.6-9.6-2V24.8z"></path>
          <path id="XMLID_17_" d="M144.4,7.8c7.9,0,13.7,5.6,13.7,12.9s-5.9,12.9-13.7,12.9c-7.9,0-13.7-5.6-13.7-12.9S136.6,7.8,144.4,7.8z
         M144.4,26.9c3.5,0,6.1-2.8,6.1-6.3s-2.7-6.3-6.1-6.3s-6.1,2.8-6.1,6.3S141,26.9,144.4,26.9z"></path>
          <path id="XMLID_20_" d="M162.9,8.3h7.5v2.2l0.1,0.1c1.9-1.6,4.5-2.9,7.6-2.9c2.6,0,4.9,0.9,6.5,2.5c1.5,1.6,2.2,3.8,2.2,7.3v15.4
        h-7.6V18.8c0-1.9-0.2-2.8-0.9-3.5c-0.6-0.8-1.5-1-2.6-1c-2,0-3.8,1-5.2,2.1v16.6h-7.6V8.3z"></path>
        </g>
        <g id="XMLID_2_">
          <path id="XMLID_4_" d="M193.3,11.2h-1.6V9.8h4.8v1.4h-1.6v4.4h-1.6V11.2z M201.7,13.6c0-0.5,0-1,0-1.4l0,0
        c-0.2,0.3-0.5,0.7-0.7,1.1l-0.7,1l-0.7-1c-0.3-0.4-0.5-0.8-0.7-1.1l0,0c0,0.4,0,0.9,0,1.4v2h-1.5V9.8h1.4l1.6,2.1l1.5-2.1h1.5v5.8
        h-1.5V13.6z"></path>
        </g>
      </svg>
    </h1>
  </header>
    <%= yield %>
  </body>
</html>
